@import url(./theme.css);

* {
  margin: 0;
  list-style: none;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

button {
  color: var(--secondary-color);
}

/* 숨김 컨텐츠 */
.sr-only, legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* HEADER */
header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1rem 5.5rem;
}

/* LOGO-HELP */
.logo-wrapper {
  display: flow-root;
  margin-top: var(--spacing-sm);
}

.logo {
  float: left;
}

.logo img {
  width: 6rem;
  display: inline-block;
}

.logo::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 1.25rem;
  background-color: #fff;
  margin-left: var(--spacing-xs);
}

.help {
  margin-left: var(--spacing-sm);
  font-size: var(--text-lg);
}

/* button */
.sign-button-wrapper button {
  border-radius: 8px;
  font-size: var(--text-md);
  letter-spacing: 1px;
}

.button-submit {
  background-color: #000;
  border: 1px solid #fff;
  padding: 12px 20px;
}

.button-sign-in {
  background-color: var(--accent-color);
  border: none;
  margin-left: 10px;
  padding: 12px 30px;
}

.search {
  background-color: #dadbf1;
}

/* category */
.category {
  margin: 100px 0;
  background-color: #fff;
}

.category-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.category-contents {
  display: flex;
  flex-flow: row nowrap;
}

.category-form img {
  width: 25%;
}

.category-form a {
  color: #4C5FD5;
  }

footer {
  background-color: #000000;
  color: #fff;
}

/* 500px 이하 */
@media (max-width: 500px) {
  /* max-500-button */
  .sign-button-wrapper {
    /* display: none; */
    position: absolute;
    width: 100%;
    padding: 4rem 0;
    background-color: var(--primary-color);
    border-top: 1px solid var(--secondary-color);
    left: 0;
    top: 72px;
  }
  
  .button-submit, .button-sign-in {
    padding: 0;
    margin: 0 auto;
    display: block;
    background-color: transparent;
    border: none;
  }
  
  .button-sign-in::before {
    content: "";
    display: block;
    width: 30rem;
    height: 1px;
    background-color: var(--secondary-color);
    margin: var(--spacing-sm) 0;
  }

  /* max-500-category */
  .category-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
}

/* 501px 이상 768px 이하 */
@media (min-width: 501px) and (max-width: 768px) {
  /* min-501-max-768-button */
  .sign-button-wrapper {
    /* display: none; */
    position: absolute;
    width: 100%;
    padding: 4rem 0;
    background-color: var(--primary-color);
    border-top: 1px solid var(--secondary-color);
    left: 0;
    top: 72px;
  }
  
  .button-submit, .button-sign-in {
    padding: 0;
    margin: 0 auto;
    display: block;
    background-color: transparent;
    border: none;
  }
  
  .button-sign-in::before {
    content: "";
    display: block;
    width: 30rem;
    height: 1px;
    background-color: var(--secondary-color);
    margin: var(--spacing-sm) 0;
  }

  /* min-501-max-768-category */
  .category-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
}

/* 769px 이상 1199px */
@media (min-width: 769px) and (max-width: 1199px) {
  /* min-769-max-1199-button */
  .sign-button-wrapper {
    /* display: none; */
    position: absolute;
    width: 100%;
    padding: 4rem 0;
    background-color: var(--primary-color);
    border-top: 1px solid var(--secondary-color);
    left: 0;
    top: 72px;
  }
  
  .button-submit, .button-sign-in {
    padding: 0;
    margin: 0 auto;
    display: block;
    background-color: transparent;
    border: none;
  }
  
  .button-sign-in::before {
    content: "";
    display: block;
    width: 30rem;
    height: 1px;
    background-color: var(--secondary-color);
    margin: var(--spacing-sm) 0;
  }
  
}

/* 데스크탑 디바이스 */
@media (min-width: 2000px) {
  
}