@import url(./theme.css);

* {
  margin: 0;
  list-style: none;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

button {
  color: var(--secondary-color);
}

/* hidden contents */
.sr-only, legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* HEADER */
header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem 5.5rem;
}

/* LOGO-HELP */
.logo-wrapper {
  display: flow-root;
  margin-top: var(--spacing-sm);
}

.logo {
  float: left;
}

.logo img {
  width: 6rem;
  display: inline-block;
}

.logo::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 1.25rem;
  background-color: #fff;
  margin-left: var(--spacing-xs);
}

.help {
  margin-left: var(--spacing-sm);
  font-size: var(--text-lg);
}

/* BUTTON */
.sign-button-wrapper {
    position: absolute;
    width: 100%;
    padding: 4rem 0;
    background-color: var(--primary-color);
    border-top: 1px solid var(--secondary-color);
    top: 72px;
    right: 0;
  }
  
  .button-submit, .button-sign-in {
    padding: 0;
    margin: 0 auto;
    display: block;
    background-color: transparent;
    border: none;
  }
  
  .button-sign-in::before {
    content: "";
    display: block;
    width: 30rem;
    height: 1px;
    background-color: var(--secondary-color);
    margin: var(--spacing-sm) 0;
  }

/* SEARCH */
.search {
  background-color: #dadbf1;
}

/* CATEGORY */
.category {
  margin: 100px 0;
  background-color: #fff;
}

.category-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.category-contents {
  display: flex;
  flex-flow: row nowrap;
}

.category-form img {
  width: 25%;
}

.category-form a {
  color: #4C5FD5;
  }

footer {
  background-color: #000000;
  color: #fff;
}

/* MIN 500px */
@media (max-width: 500px) {
  /* MAX 500 CATEGORY */
  .sign-button-wrapper {
    display: none;
  }
  .category-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
}

/* MIN 501px MAX 768px */
@media (min-width: 501px) and (max-width: 768px) {
  /* MIN 501 max 768 BUTTON */
  .sign-button-wrapper {
    display: none;
  }

  /* MIN 501 MAX 768 CATEGORY */
  .category-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
}

/* MIN 769px MAX 1199px */
@media (min-width: 769px) and (max-width: 1999px) {
  /* MIN 769px MAX 1999px BUTTON */
  .sign-button-wrapper {
    display: none;
  }
}
/* DESKTOP DEVICE */
@media (min-width: 2000px) {
  /* DESKTOP HEADER */
  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  
  /* DESKTOP BUTTON */
  .sign-button-wrapper {
    width: 23rem;
    height: auto;
    border: none;
    padding: 0;
    margin: var(--spacing-sm) var(--spacing-xl);
    top: 0;
  }

  .button-submit, .button-sign-in {
    margin: 0;
    border-radius: 8px;
    font-size: var(--text-md);
    letter-spacing: 1px;
    display: inline-block;
  }

  .button-submit {
    background-color: #000;
    border: 1px solid #fff;
    padding: 12px 20px;
  }

  .button-sign-in {
    background-color: var(--accent-color);
    border: none;
    margin-left: 10px;
    padding: 12px 30px;
  }
  .button-sign-in::before {
    display: none;
  }
}